.project-card a {
    text-decoration: none;
    color: #353535
}

.card-content {
    border: 1px solid #ffffff;
}

.card-body {
    background-color: #D9D9D9;
    color: #353535;
}

.projects {
    margin-left: 5rem;
}

/* .project-pic {
    opacity: 1;
} */

.project-card:hover {
    transform: scale(1.05);
}

.live-button {
    color: black;
}

@media only screen and (max-width: 575px) {

    .projects {
        align-items: center;
        margin: 5rem 2rem;
        padding: 0px;
        position: absolute;
    }

}
